.toggle-code-btn {
    background-color: #00d0ff;  // 蓝色的十六进制表示
    color: #FFFFFF;  // 白色的十六进制表示
    border: none;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-code-btn:hover {
    background-color: #0075d4;  // 深蓝色 (darkblue) 的十六进制表示
}

.highlight code, .highlight span {
    font-family: 'Fira Code', monospace !important;
}


pre, code, .md-typeset .code, .md-typeset .token {
    font-family: "Fira Code", "Source Han Sans CN", monospace !important;
}

pre code {
    font-family: 'Fira Code', monospace !important;
}


